@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Be Vietnam Pro", system-ui, sans-serif;
    --font-serif: "Gabarito Variable", ui-serif, serif;

    --color-primary: #2563eb;
    --color-neutral: #94a3b8;
    --color-white: #e2e8f0;
    --color-black: #0e141b;

    /* Move tracking variables inside :root */
    --tracking-tightest: -2px;
    --tracking-tighter: -1px;
    --tracking-tight: -0.25px;
  }
}

@layer utilities {
  /* Your text utilities */
  .text-xs { font-size: 0.875rem; line-height: 1.125rem; }
  .text-sm { font-size: 1rem; line-height: 1.25rem; }
  .text-base { font-size: 1.125rem; line-height: 1.625rem; }
  .text-lg { font-size: 1.25rem; line-height: 1.75rem; }
  .text-xl { font-size: 1.5rem; line-height: 1.813rem; }
  .text-2xl { font-size: 1.75rem; line-height: 2.125rem; }
  .text-3xl { font-size: 2rem; line-height: 2.375rem; }
  .text-4xl { font-size: 2.25rem; line-height: 2.688rem; }
  .text-5xl { font-size: 2.5rem; line-height: 3rem; }
  .text-6xl { font-size: 3rem; line-height: 3.625rem; }
  .text-7xl { font-size: 3.75rem; line-height: 1; }
  .text-8xl { font-size: 4.5rem; line-height: 4.875rem; }
  .text-9xl { font-size: 6rem; line-height: 6.625rem; }
}

@keyframes slide-in {
  10% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

code {
  @apply font-mono;
}
